*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url(bg.png);
}

.container
{
    position: fixed;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container input
{
    background: rgba(219, 222, 221, 90%);
    display: inline-flex;
    border-radius: 60px;
    align-items: center;
    border: none;
    vertical-align: top;
    margin: 0;
    padding: 0;
    height: 30px;
    flex: 1;
    border: none;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: rgba(54, 83, 66, 100%);
}

::placeholder
{
    color:rgba(54, 83, 66, 100%);
}

.search_bar
{
    width: 100%;
    max-width: 700px;
    
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    
}

.search_bar input
{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}


